body, html {
    width: 100%;
    height: 100%;
}

.full-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

.hidden {
    display: none;
}

.error-text {
    color: #8a0303;
}

.error-icon {
    --slds-c-icon-color-foreground-default: #8a0303;; 
}
